
<div class="container">
  <%= form_for @listing do |f| %>
  <div id="title-form">
    Title: <%= f.text_field :title %><br />
  </div>
  <div id="about-form">
    About the Place : <%= f.text_area :summary %><br />
  </div>
  <div id="accomodates-form">
    Accomodates : <%= f.number_field :guest %><br />
  </div>
  <div id="address-form">
    Address: <%= f.text_area :address %><br />
  </div>
  <div id="bedroom-form">
    Bedroom : <%= f.number_field :bedroom %><br />
  </div>
  <div id="bathroom-form">
    Bathroom: <%= f.number_field :bathroom %><br />
  </div>
  <div id="price-form">
    Price: <%= f.number_field :price %><br />
  </div>
  <div id="property-form">
    Property Type: <%= select_tag 'listing[property_type]', options_for_select([["house", :house], ["apartment", :apartment], ["bungalow", :bungalow]]) %>
  </div>
  <div id="room-form">
    Room Type: <%= select_tag 'listing[room_type]', options_for_select([["shared_room", :shared_room], ["private_room", :private_room], ["entire_place", :entire_place]]) %>
  </div>
  <div class="submit-field">
    <%= form.submit class: 'btn btn-success'%>
  </div>
  <% end %>
</div>
