<div class="form-group">
  <%= form.text_field :fullname, type: 'fullname', autofocus: true, placeholder: "Full Name" %>
</div>

<div class="form-group">
  <%= form.email_field :email, type: 'email', autofocus: true, placeholder: "E-mail" %>
</div>

<div class="form-group">
  <%= form.password_field :password, type: 'password', autofocus: true, placeholder: "Password" %>
</div>

<div class="form-group">
  <%= form.label :Gender %>
  <%= form.radio_button(:gender, "undefined") %>
  <%= label_tag(:gender, "undefined") %>
  <%= form.radio_button(:gender, "male") %>
  <%= label_tag(:gender, "male") %>
  <%= form.radio_button(:gender, "female") %>
  <%= label_tag(:gender, "female") %>
</div>

<div class="form-group">
  <%= form.label :Birthdate %>
  <%= date_field(:user, :birthdate) %>
</div>
<div id="photo-upload">
  <%= form.label :avatar %>
  <%= form.file_field :avatar %><br />
</div>

<div class="submit-field">
  <%= form.submit class: 'btn btn-success'%>
</div>
