

<%  @list.each do |listing| %>
<h4> <%=listing.summary%> </h4>
<ul>
  <li> <%=listing.bedroom%> </li>
  <li> <%=listing.bathroom%> </li>
  <li> <%=listing.room_type%> </li>
  <li> <%=listing.property_type%> </li>
  <li> <%=listing.guest%> </li>
  <li> <%=listing.address%> </li>
  <li> <%=listing.price%> </li>
</ul>
<% end %>
