<!DOCTYPE html>
<html>
  <head>
    <title>Pairbnb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="container">
    <nav class="navbar navbar-default">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">


    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          Signed in as: <%= current_user.email %>
          <button class="btn btn-default" type="submit">
          <%= button_to 'Sign out', sign_out_path, method: :delete, class: "btn btn-primary" %>
         </button>
        <% else %>
        <button class="btn btn-default" type="submit">
          <%= link_to 'Sign in', sign_in_path %>
        </button>
        <button class="btn btn-default" type="submit">
          <%= link_to "Sign in with Facebook", "/auth/facebook" %>
        </button>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    <div id="flash">
      <% flash.each do |key, value| %>
        <div role="alert" class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>

    </div>
  </body>
</html>
